<div class="layout-row">
    Georgina Hughes is a consultant ScrumMaster and Agile Coach, specialising in early stage transformations. Georgina
    has worked with many companies to help them move from a command and control, waterfall based project management
    environment to a lean, agile product based environment that is employee focused.
</div>
<div class="layout-row">
    Over the years Georgina has collated a large amount of resources that help make an Agile Transformation go much
    smoother. From Agile games to mentoring and coaching, Georgina can explain what Agile means to each of your
    employees in language that they understand.
</div>
<div class="layout-row">
    Get over the humps on the road to Agile faster by hiring a ScrumMaster who has the expertise and ability to
    bring more value to your business through high employee engagement.
</div>
